# Ch8.6 Applications of SVD

# Example 8.6.1

In [3]:
import pandas as pd
data = pd.read_csv('movie_data.csv',index_col=0)
data.head()

/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,UserID,MovieID,Rating,Timestamp,Title,Genres
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance
3,1,3408,4,978300275,Erin Brockovich (2000),Drama
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy

In [4]:
data = data.pivot(index='UserID',columns='MovieID',values='Rating').fillna(0)
data.head()

MovieID,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
UserID,,,,,,,,,,,,,,,,,,,,,
1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Example 8.6.2

In [5]:
import numpy as np
from numpy import dot

def cosine_similarity(x,y):
    X_m = np.sqrt(x.dot(x.T)[0][0])
    Y_m = np.sqrt(y.dot(y.T)[0][0])
    dotproduct = x.dot(y.T)[0][0]
    return dotproduct/(X_m*Y_m)

user1 = np.array(data.loc[data.index==1])
user18 = np.array(data.loc[data.index==18])

cosine_similarity(user1,user18)

0.24803197270135083

# Example 8.6.3

In [6]:
from scipy.linalg import svd
import numpy as np
from numpy import zeros
from numpy import dot

U, s, VT = svd(data)

m,n = data.shape[0], data.shape[1]

sigma = np.zeros((m, n))
for i in range(min(m, n)):
    sigma[i, i] = s[i]

Specify the number of singular values to keep.

In [7]:
#specify the number of singular values to keep
keep_values = 50
#select first few columns of U
U_c = U[:,:keep_values]
#select  first few columns and few rows of U
sigma_c = sigma[:keep_values,:keep_values]
#select first few rows of VT
VT_c = VT[:keep_values,:]


#now multiply
data_compressed = np.dot(U_c,np.dot(sigma_c,VT_c))

data_compressed = pd.DataFrame(data_compressed)
data_compressed.columns.name = 'MovieID'
data_compressed.index.name='UserID'
data_compressed.index = data_compressed.index + 1
print("Compressed, after approximating from the first "+str(keep_values)+" latent features")
data_compressed.head()

Compressed, after approximating from the first 50 latent features

MovieID,0,1,2,3,4,5,6,7,8,9,...,3696,3697,3698,3699,3700,3701,3702,3703,3704,3705
UserID,,,,,,,,,,,,,,,,,,,,,
1,4.292556,0.164772,-0.184504,-0.018528,0.021516,-0.181793,-0.102936,0.157111,-0.058523,-0.164231,...,0.032475,0.007048,0.033170,-0.007577,-0.075329,0.394578,0.124714,0.051545,0.057349,0.076743
2,0.754817,0.128981,0.341128,0.009540,0.001830,1.314580,0.077427,0.062218,0.163983,1.514572,...,-0.051376,-0.015780,-0.010918,0.055628,-0.016037,0.166941,-0.421144,-0.106675,-0.049650,-0.126564
3,1.844858,0.473855,0.098573,-0.039309,-0.019895,-0.154038,-0.141531,0.111551,0.035977,0.738427,...,0.049994,0.003596,0.022734,0.043377,0.034825,0.120205,0.086553,0.034783,0.029337,-0.121871
4,0.395484,-0.045487,0.033716,0.083890,0.051561,0.260676,-0.081541,0.023891,0.051932,-0.077170,...,0.010847,0.007518,0.004269,0.009527,-0.079630,0.077845,0.051369,-0.017046,0.018980,-0.047580
5,1.557609,-0.006700,-0.044860,0.249014,-0.043320,1.518140,-0.164306,-0.043626,-0.078771,0.424064,...,0.097708,0.013847,-0.024256,-0.043126,-0.065997,-0.025571,0.517685,0.008508,0.106630,0.221219

In [8]:
user1_compress = np.array(data_compressed.loc[data_compressed.index==1])
user18_compress = np.array(data_compressed.loc[data_compressed.index==18])

cosine_similarity(user1_compress,user18_compress)

0.5645846610637145

 **EXERCISE 8.6.1**

Determine the angular difference between the following users, before compression and when compressed to the specified number of singular values.
* a. User2 and User36, compressed by 100 singular values
* b. User 2 and user36, compressed by 250 singular values.


**Exercise 8.6.2**

Determine the angular difference between the following movies, before compression and when compressed by the specified number of singular values
* 	a. Movie1 and Movie 10, compressed by 50 singular values
* 	b. Movie1 and Movie 10, compressed by 100 singular values.

## Example 8.6.4

In [10]:
doc0 = "The dog bit Johnny"
doc1 = "Johnny bit the dog"
doc2 = "Why did the chicken cross the road"
doc3 = "This sounds challenging"
doc4 = "The bird was smashed on the road"
doc5 = "A boy named Johnny has a dog"
doc6 = "A dog is a grown puppy"
doc7 = "The moon comes out at night"

sentences = [doc0,doc1,doc2,doc3,doc4,doc5,doc6,doc7]
string=' '.join(sentences)
unique_words = set(string.split(' '))

word_count = {}
for word in unique_words:
    doc_count = {}
    for doc_num in range(len(sentences)):
        doc_count[doc_num] = sentences[doc_num].count(word) 
    word_count[word]=doc_count

import pandas as pd
data = pd.DataFrame(word_count).transpose()
data.columns.name = 'sentence#'
data.index.name = 'words'
data

sentence#    0  1  2  3  4  5  6  7
words
A            0  0  0  0  0  1  1  0
did          0  0  1  0  0  0  0  0
dog          1  1  0  0  0  1  1  0
Why          0  0  1  0  0  0  0  0
The          1  0  0  0  1  0  0  1
on           0  0  0  0  1  0  0  1
bird         0  0  0  0  1  0  0  0
was          0  0  0  0  1  0  0  0
cross        0  0  1  0  0  0  0  0
challenging  0  0  0  1  0  0  0  0
This         0  0  0  1  0  0  0  0
night        0  0  0  0  0  0  0  1
boy          0  0  0  0  0  1  0  0
out          0  0  0  0  0  0  0  1
comes        0  0  0  0  0  0  0  1
sounds       0  0  0  1  0  0  0  0
smashed      0  0  0  0  1  0  0  0
bit          1  1  0  0  0  0  0  0
moon         0  0  0  0  0  0  0  1
named        0  0  0  0  0  1  0  0
a            0  0  1  1  3  3  1  1
road         0  0  1  0  1  0  0  0
at           0  0  0  0  0  0  0  1
Johnny       1  1  0  0  0  1  0  0
is           0  0  0  1  0  0  1  0
grown        0  0  0  0  0  0  1  0
puppy        0  0  0  0  0  0  1  0
has          0  0  0  0  0  1  0  0
the          0  1  2  0  1  0  0  0
chicken      0  0  1  0  0  0  0  0

**Exercises 8.6.3**

Using the process of singular value decomposition, compare the cosine similarities between the specified words before compression and after being compressed by the specified number of singular values.
* a.	Words: â€˜puppyâ€™, â€˜dogâ€™, compressed to 5 singular values
* b.	Words: â€˜chicken, â€˜birdâ€™, compressed to 2 singular values

**Exercise 8.6.4**

Do the same thing, but this time compare the cosine similarities of the specified sentences, before and after being compressed by the specified number of singular values;
* a.	Sentence 0 and Sentence 1, compressed to 3 singular values
* b.	Sentence 2 and sentence 5, compressed to 6 singular values